<div [@routerTransition]>
  <app-page-header [heading]="'Activar Equipos'" [icon]="'fa-edit'"></app-page-header>

  <div class="row" [hidden]="!cargaArchivo">
    <div class="col-lg-12">
      <button (click)="export()" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Formato</button>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
          <label>Laboratorio</label>
          <select class="form-control" (change)="asignaAlmacen($event.target.value)" formControlName="almacen">
              <option value="?"> --Elija laboratorio-- </option>
              <option *ngFor="let almacen of consultaAlmacenes" value="{{almacen.idAlma}}"> 
                  {{almacen.nombreHiperk}} 
              </option>
          </select>
      </fieldset>
      <fieldset class="form-group">
          <label>Acción</label>
          <select class="form-control" (change)="getTipo($event.target.value)" formControlName="accion">
              <option value="?"> --Elija la acción-- </option>
              <option *ngFor="let accion of acciones" value="{{accion.id}}"> 
                  {{accion.nombreAccion}} 
              </option>
          </select>
      </fieldset>
    </div>
    <div class="col-lg-6">
        <fieldset class="form-group">
            <label>Servicio</label>
            <select class="form-control" (change)="getModelo($event.target.value)" formControlName="servicio">
                <option value="?"> --Elija servicio-- </option>
                <option *ngFor="let servicio of servicios" value="{{servicio.id}}"> {{servicio.nombreServicio}} </option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <div *ngIf="mostratInput">
                <label>Cargar equipos</label>
                <br>
                <input type="file" accept=".xlsx, .xls" class="btn btn-info" (change)="onFileChange($event)" id="exampleInputFile">
            </div>
            <div *ngIf="!mostratInput">
                <label>Archivo cargado</label>
                <br>
                <span class="nombreDocumento">{{nombreArchivo}} </span>
                <button type="button" class="btn btn-danger" (click)="borraCarga()" >X</button>
            </div>
        </fieldset>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="valido" (click)="guardaEquipos()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
        </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="alert alert-success alert-dismissable" *ngIf="msg">
        <a href="" class="close" (click)="closeAlert($event)">
        &times;
        </a>
        {{msg}}
    </div>
  </div>
</div>
