$topnav-background-color: #fff;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #1D3C7A;
    padding: 2em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #1D3C7A;
        color: #1D3C7A;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #1D3C7A;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: #1D3C7A;
        background: $topnav-background-color;
        border: 2px solid #1D3C7A;
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: #1D3C7A;
        border: 2px solid #1D3C7A;
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: #1D3C7A;
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: #1D3C7A;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: #1D3C7A;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: #1D3C7A;
        }

        input:-ms-input-placeholder {
            color: #1D3C7A;
        }
    }
    /*.form-content {
        padding: 40px 0;
    }*/
    .logo-avatar {
        //-webkit-border-radius: 50%;
        //border-radius: 50%;
        //border: 2px solid #1480FF;
        width: 25%;
    }
}
footer {
    position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1D3C7A;
  text-align: left;
  color: #fff;
}

.imgfooter {
    padding: 4px;
    width: 100px;
}
footer p {
    float: right;
    padding: 8px 8px 0 0;
}