<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i> {{ 'Dashboard' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('equipos')">
                <span><i class="fa fa-fw fa-desktop"></i> {{ 'Equipos' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'equipos'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/crearequipos" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-plus-square"></i> {{ 'Crear Equipos' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nested" [class.expand]="showMenu === 'equipos'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/activarequipos" [routerLinkActive]="['router-link-disabled']" class="list-group-item">
                            <i class="fa fa-check-square"></i> {{ 'Activar Equipos' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nested" [class.expand]="showMenu === 'equipos'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/auditoriaequipos" [routerLinkActive]="['router-link-disabled']" class="list-group-item">
                            <i class="fa fa-calendar-o"></i> {{ 'Auditoria de Equipo' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nested" [class.expand]="showMenu === 'equipos'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/buscarequipos" [routerLinkActive]="['router-link-disabled']" class="list-group-item">
                            <i class="fa fa-search"></i> {{ 'Buscar Equipo' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nested" [class.expand]="showMenu === 'equipos'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/eliminarequipos" [routerLinkActive]="['router-link-disabled']" class="list-group-item">
                            <i class="fa fa-minus-square"></i> {{ 'Eliminar Equipos' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nested" [class.expand]="showMenu === 'equipos'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/cambiarmodelo" [routerLinkActive]="['router-link-disabled']" class="list-group-item">
                            <i class="fa fa-random"></i> {{ 'Cambiar modelo Equipo' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('transfer')">
                <span><i class="fa fa-exchange"></i> {{ 'Transferencias' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'transfer'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/ingresos" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-arrow-right"></i> {{ 'Ingreso de Equipos' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nested" [class.expand]="showMenu === 'transfer'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/egresos" [routerLinkActive]="['router-link-disabled']" class="list-group-item">
                            <i class="fa fa-arrow-left"></i> {{ 'Egreso de Equipos' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!--<a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i> ;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i> ;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i> ;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i> ;{{ 'Bootstrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i> ;{{ 'Bootstrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i> ;{{ 'Component' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i> ; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i> ;{{ 'Blank Page' | translate }}
        </a>-->
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i> RTL/LTR</span>
            </a>
            <!--<div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i> ; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>-->
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i> {{ usuarioLogIn }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a class="dropdown-item" [routerLink]="['/empresas']">
                                <i class="fa fa-building"></i> {{ 'Empresas' | translate }}
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Salir' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
